@font-face {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  src: local("TTFirsNeue-Regular"), url("../fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("../fonts/TTFirsNeue-Regular.woff") format("woff"), url("../fonts/TTFirsNeue-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 700;
  src: local("TTFirsNeue-Bold"), url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold.woff") format("woff"), url("../fonts/TTFirsNeue-Bold.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Bold"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-display: swap;
}
.about-section {
  margin-top: 67px;
  margin-bottom: 70px;
  background-color: #202020;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(50% - 15px));
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 70px;
  gap: 30px;
  background-color: #202020;
  justify-items: start;
}

.about-left__title {
  margin-bottom: 3px;
  color: #ffffff;
}
.about-left__descr {
  color: #cacaca;
  padding-top: 5px;
}

.about-right {
  width: 100%;
}
.about-right__title {
  margin-bottom: -10px;
  color: #ffffff;
}
.about-right__descr {
  color: #cacaca;
  padding-top: 5px;
}
.about-right__form {
  margin: 0;
  color: #ffffff;
}
.about-right__img {
  margin-top: 33px;
  position: relative;
  padding-top: 251px;
  margin-bottom: 23px;
}
.about-right__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-wrapper {
  margin-top: 24px;
  display: flex;
}
.about-wrapper__input {
  position: relative;
  margin-right: 30px;
  flex-grow: 1;
  border: none;
  padding: 15px 23px;
  width: 100%;
  background-color: #4a4a4a;
}
.about-wrapper__input::-moz-placeholder {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.about-wrapper__input::placeholder {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.about-wrapper__btn {
  width: 126px;
}

.about-wrapper__input {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.about-wrapper__input:hover::-moz-placeholder {
  color: #ff6e30;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.about-wrapper__input:hover::placeholder {
  color: #ff6e30;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.about-wrapper__input:focus {
  outline: 1px solid #ff6e30;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.about-wrapper__input:active {
  outline: none;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 15px 22px;
  color: #ffffff;
  background-color: #ff6e30;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.btn:hover {
  background-color: #BC572B;
  transition: background-color 0.3s;
}

.btn:focus {
  background-color: #ff6e30;
  outline: 3px solid #BC572B;
  transition: background-color 0.3s;
}

.btn:active {
  background-color: #CE4307;
  transition: background-color 0.3s;
}/*# sourceMappingURL=about.css.map */