@import "common.scss";
.about{
    @include marginBlock;
    text-align: center;
}
.about-text__descr{
    margin: 0 auto;
    max-width: 1518px;
    text-align: center;
    line-height: 37px;
margin-bottom: 50px;
}

.about-direction{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
}