@import "common.scss";

@media (max-width:1290px){
    .header-list a,
    .footer-list a {
        font-size: 16px;
    }

    .header-list li:not(:last-child),
    .footer-list li:not(:last-child) {
        margin-right: 50px;
    }

    .btn-stroke a {
        font-size: 16px;
    }

    .hero{
        padding-top: 130px;
    height: 740px;
        text-align: center;
        margin-bottom: 50px;
    }
    .hero-wrapper{
        flex-direction: column;
    }

    .about-direction {
        grid-template-columns: repeat(2,1fr);
        -moz-column-gap: 30px;
        column-gap: 30px;
        row-gap: 30px;
    }

    .directions__item svg{
        height: 50px;
        width: 50px;
    }

    .products-cards__item {
        display: flex;
        justify-content: center;
        padding: 25px 20px;
    }

    .products-cards__descr a{
        font-size: 16px;
    }

    .service-wrapper__middle {
        background-size: contain;
    }

    .service-wrapper__right ul {
        font-size: 16px;
        line-height: 28px;
    }

    .parts-cards {  
        grid-template-columns: repeat(3,1fr);
        &__item{
            padding: 15px;
        }
    }

    .parts {
       @include marginBlockTablet;
    }

    .four-item {
        display: none;
    }

    .four-hidden{
        display: flex;
    }

   .contacts-wrapper__item{ 
    svg{
    height: 50px;
    width: 50px;
   }
   a{
    font-size: 14px;
    line-height: 16px;
   }
 }

 .contacts-form {
    align-items: center;
   flex-direction: column;
}

input{
    width: 450px;
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 10px;
}

.contacts-form__btn {
    font-family: "Montserrat Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 21px 90px;
}
}

@media(max-width:885px){
    .logo{
        img{
            max-width: 180px;
        }
    }
    .burger {
        display: inline-flex;
        position: absolute;
       right: 30px;
       top: 12px;
        height: 45px;
        border: none;
        background-color: transparent;
        color: $Grafit;
        z-index: 1000;
    
        &__item {
          list-style: none;
          display: flex;
          flex-direction: column;
        }
      }

     
    
      .burger__line {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: $Grafit;
        transform: translateX(-50%);
      }
    
      .burger__line:nth-child(1) {
        top: 16px;
      }
    
      .burger__line:nth-child(3) {
        bottom: 12px;
      }
    
      .burger__line:nth-child(2) {
        top: 55%;
        transform: translateX(-50%) translateY(-50%);
      }

      .burger--active .burger__line:nth-child(2) {
        opacity: 0;
      }
    
      .burger--active .burger__line:first-child {
        left: 25%;
        top: 50%;
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        z-index: 200;
      }
    
      .burger--active .burger__line:last-child {
        z-index: 200;
        bottom: auto;
        left: 25%;
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        z-index: 200;
      }
    
 
     .header-dropdown:focus .header-submenu{
        display: flex;
        flex-direction: column;
      }
    
    

 .header__nav{
    display: block;
 }     

.header-list{
    display: none;
}

.stop-scroll {
    overflow: hidden;
  }


.header-list--active{
    position: absolute;
    display: flex;
    padding: 30px;
    width: 100%;
    left: 0;
    flex-direction: column;
    background-color: $moonStone;
    li{
      margin: 0;
      margin-bottom: 20px;  
    }
}

.header-submenu{
    padding-top: 7px;
    padding-left: 30px;
    position: relative;
    width: 100%;
    li{
        padding: 0;
        margin: 0;
    }
    &__list{
        margin-bottom: 5px;
    }
  }


    .header{
        height: 80px;
    }

    .about,
    .service{
        @include marginBlockTablet;
    }

    .service-content {
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
    }

    .service-wrapper__middle{
        display: none;
    }

    .parts-cards{
        grid-template-columns: repeat(2, 1fr);
        p{
            padding: 20px;
        }
    }

    .four-item {
        display: flex;
    }

    .four-hidden{
        display: none;
    }

    .footer{
        flex-direction: column;
        &__img{
            max-width: 180px;
            margin-bottom: 25px;
        }
    }

   
}

@media(max-width:692px){
    .products-cards {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .footer{
        flex-direction: row;
    }

    .footer-list{
        flex-direction: column;
    }

    .footer-list li:not(:last-child){
        margin: 0;
        margin-bottom: 10px;
    }

}

@media(max-width:570px){

    .hero-text__transparent {
        -webkit-text-stroke: 0.5px #e7e7e7;
    }

    .hero{
        padding-top: 80px;
        max-height: 350px;
    }

    .about-text__descr {
        line-height: 26px;
    }

    .btn-stroke{
        margin-top: 30px;
    }
    .parts-cards {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .parts-btn {
        width: 100%;
    }
    input {
        max-width: 280px;
    }

    .service-content,
    .contacts-wrapper {
        grid-template-columns: 1fr;
        row-gap: 20px;
        &__item a{
            padding-top: 5px;
        }
    }

}

@media (max-width:320px){
    .footer {
        flex-direction: column;
    }
}




