@import "common.scss";
  
  .burger {
    display: none;
  }
 
  .header {
    position: fixed;
    height: 100px;
    width: 100%;
    margin: auto;
    background-color: $moonStone;
    z-index: 1000;
  }

 .burger-close{
  display: none;
 }

 .burger-close--active{
  display: block;
  margin-bottom: 16px;
  background-color: transparent;
  border: none;
 }

  .header__nav {
    @include list-reset;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-list,
  .footer-list {
    display: flex;
    list-style: none;
    li:not(:last-child){
      margin-right: 100px;
    }
    a{
      font-family: 'Montserrat Regular';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      text-decoration: none;
      color: $Grafit;
    }
  }

  .header-list li a:hover{
    transition: color 0.3s;
  }

  .header-list li a:focus{
    transition: color 0.3s;
  }

  .header-list li a:active{
    background-color: transparent;
    transition: color 0.3s;
  }

  .header-submenu{
    max-width: 310px;
    padding-top: 33px;
    position: absolute;
    display: none;
    background-color: rgba(231, 231, 231, 0.8);
    opacity: 0;
    animation: ani 0.5s forwards;
    li{
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid $Grafit;
      list-style: none;
    }
  }

  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 0.8;}
  }

  .header-dropdown:hover .header-submenu{
    display: block;
    z-index: 10;
  }
  
  .header-submenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }