@import "common.scss";

.service {
    @include marginBlock;
    padding-top: 50px;
    background-color: $Grafit;
    color: $snowWhite;

    &__title{
        @include fadeInOut;
    }
}

.service-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.service-wrapper__left {
    @include fadeInOut;
}

.service-wrapper__middle {
    background-image: url("../images/service.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.service-wrapper__right {
    padding-bottom: 70px;
    @include fadeInOut;
    ul {
        font-family: 'Montserrat Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 37px;
        list-style: none;
    }
}