@import "normalize.scss";
@import "common.scss";
@import "menu.scss";
@import "hero.scss";
@import "about.scss";
@import "project.scss";
@import "contact.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: 0 auto;
  width: 100%;
}



section {
  @include marginBlock;
  margin: 0 auto;
}

h1 {
  @include clear-margin;
  font-family: 'Montserrat', "Arial", sans-serif;
  ;
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-family: 'Montserrat', "Arial", sans-serif;
  ;
  font-style: normal;
  font-weight: 500;
}

p {
  font-family: 'Montserrat', "Arial", sans-serif;
  ;
  font-style: normal;
  font-weight: 400;
}


img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  padding-right: 31px;
  padding-left: 31px;
}


.form .just-validate-error-label,
.contact-application__form .just-validate-error-label {
  font-size: 12px;
  line-height: 14px;
  color: $colorError;
}




.just-validate-error-label {
  position: absolute;
  color: $colorError;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
}

