@import "normalize.scss";
@import "common.scss";
@import "menu.scss";
@import "hero.scss";
@import "about.scss";
@import "project.scss";
@import "contact.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: 0 auto;
  width: 100%;
}

body>header {
  background-color: $colorDark;
  height: 80px;
  justify-items: center;
}

body>main {
  margin-top: 41px;
}


section {
  @include marginBlock;
  margin: 0 auto;
}

h1, h2 {
  @include clear-margin;
  font-family: "TT Firs Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-family: "TT Firs Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

p {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  margin-bottom: 67px;
  padding-right: 31px;
  padding-left: 31px;
}

.footer {
  margin-bottom: 0;
}

.grid__item {
  min-height: 257px;
}

.form .just-validate-error-label,
.contact-application__form .just-validate-error-label {
  font-size: 12px;
  line-height: 14px;
  color: $colorError;
}




.just-validate-error-label {
  position: absolute;
  color: $colorError;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 11px;
}

.contact-application__form .just-validate-error-label[type="mail"]{

  margin-bottom: -110px;
}


@media (max-width: 1220px) {

  .logo img {
    max-width: 166px;
  }

  .header__nav {
    padding: 26px 0;
  }

  .header-list {
    margin-left: -17px;

    li {
      margin-right: 3px;
    }
  }

  body>main {
    margin-top: 35px;
  }

  .hero-one {
    max-height: 621px;
    background-image: url("../images/hero-one1024.jpg");
    padding-top: 422px;
  }

  .hero {

    &__section-title {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 104%;
    }

    &__title {
      font-size: 34px;
      margin-bottom: 22px;
    }
  }

  .hero-three {
    height: 186px;
  }

  .about {
    padding-bottom: 82px;
  }

  .about-section {
    margin-top: -5px;
  }

  .about-right {

    &__img {
      padding-top: 332px;
      margin-bottom: 20px;
    }

    &__img::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-image: url("../images/about1024.jpeg");
      background-size: cover;

    }

    &__right {
      .btn {
        margin-bottom: -5px;
      }
    }


  }

  .about-wrapper {
    flex-direction: column;

    &__input {
      margin-bottom: 20px;
      width: 74%;
    }
  }

  .project-one,
  .project-two {
    img {
      width: 100%;
      height: 184px;
    }
  }

  .project-card__span {
    top: 6px;
  }

  .project-card__hidden {
    display: none;
  }

  .project-card__visible {
    display: block;
  }

  .project-card__descr {
    margin-bottom: 20px;
  }

  .project-up {
    grid-template-columns: repeat(4, 1fr);
  }

  .project-down {
    margin-top: 11px;
    grid-template-columns: repeat(auto-fit,
        minmax(218px, 342px) minmax(218px, 1fr) minmax(218px, 342px));
    -moz-column-gap: calc(15px + 15 * ((100vw - 768px) / 256));
    column-gap: calc(15px + 15 * ((100vw - 768px) / 256));
    row-gap: calc(15px + 11 * ((100vw - 768px) / 256));
  }



  .third-project {
    grid-column: span 2;
    max-width: 466px;
  }

  .project-hidden {
    height: 307px;
    position: relative;
    display: block;
    grid-column: span 2;
    background-image: url("../images/project4-1024.jpg");

    &__span {
      top: 12px;
    }

    &__leftspan {
      padding-top: 33px;
    }
  }

  .mind {
    min-height: 307px;

    .project-img__leftspan {
      padding-top: 31px;
    }
  }

  .project-hidden{
    &__leftspan{
      position: absolute;
    padding-top: 24px;
    left: 30px;
    }

    &__span{
      @include span;
      position: absolute;
    padding: 2px 14px;
    top: 10px;
    right: 8px;
   
    font-size: 14px;
    background-color: $colorDark;
   

    }
  }

  .fuji {
    display: none;
  }

  .fuji-title {
    margin-top: 3px;
    margin-bottom: 5px;
    width: 45%;
  }

  .fuji-descr {
    width: 52%;
    margin-bottom: 50px;
  }

  .project-last {
    &__descr {
      margin-bottom: 20px;
      margin-top: 15px;
    }

    &__span {
      padding: 6px 14px;
    }
  }

  .ret {
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }

  .port {
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .contact {
    grid-template-columns: repeat(auto-fit,
        minmax(218px, 342px) minmax(218px, 1fr) minmax(218px, 342px));
  }

  .contact-address {
    margin-top: 308px;
    height: 155px;
    padding: 20px 31px;
    width: 100%;
   

    &__descr {
      display: inline-block;
      max-width: 293px;
    }
  }

.phone-wrap{
  margin-top: 56px;
  margin-left: -152px;
  display: inline-block;
}


  .footer {
    padding-top: 6px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
      max-width: 166px;
      margin-top: 4px;
    }

    &__left {
      width: 100%;
      max-width: 319px;
    }

    &__middle {
      width: 100%;
      max-width: 375px;
    }

    &__right {
      width: 100%;
      max-width: 162px;
    }
  }

  .footer__center {
    width: 100%;
  }
}

@media (max-width: 885px) {
  .btn {
    padding: 17px 24px;
  }

  .container {
    padding-right: 27px;
    padding-left: 27px;
  }


  body>main {
    margin-top: 43px;
  }

  .header__nav {
    padding: 26px 0;
  }

  .header-list {
    display: none;
  }

  .header-submenu {
    display: flex;
    height: 45px;
    margin-top: -71px;
    font-size: 16px;
    background-color: $colorGraphit;
    color: $colorLight;
    align-items: center;

    &__list {
      width: 100%;
    }
  }

  .header .header-submenu__list{
    padding-left: 27px;
    justify-content: space-between;
  }



  .header-submenu__item:not(:last-child) {
    margin-right: 40px;
}


  .hero {
    padding-top: 38px;
    margin-bottom: 16px;

    &__title {
      line-height: 90%;
      margin-top: 10px;
    }
  }

  .hero-one {
    max-height: 452px;
    background-image: url("../images/hero-one768.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: calc(108px + 111 * ((100vw - 576px)/ 192));
    padding-right: calc(25px + 43 * ((100vw - 576px)/ 192));
    padding-left: calc(-2px + 30 * (100vw - 576px)/ 192);
  }

  .hero__section-title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .hero-two__img {
    max-height: 228px;
  }


  .about {
    padding-bottom: 61px;
    padding-top: 33px;
  }

  .about-right__img {
    display: flex;
    width: 100%;
    padding-top: 569px;
  }

  .about-right__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/about768.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about-wrapper__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .projects {
    margin-bottom: 71px;
  }


  .project-up {
    grid-template-columns: repeat(3, 1fr);
  }

  .third-project {
    grid-column: span 1;
  }


  .project-hidden {
    max-height: 300px;
    position: relative;
    display: block;
    gap: 30px;
    padding-right: calc(175px + 218 * ((100vw - 576px) / 192));
    padding-bottom: 31px;
  }


  .project-card__hidden {
    display: inline-block;
  }


  .project-card__descr {
    margin-bottom: 13px;
  }

  .mind {
    margin-top: -7px;
    min-height: 300px;
  }

  .project-card__visible {
    display: none;
  }

  .project-down {
    margin-top: 16px;
    row-gap: 31px;
    column-gap: 31px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
  }

  .project-img__leftspan,
  .project-hidden__leftspan {
    padding-top: 33px;
  }

  .fuji-title {
    width: 30%;
    margin-bottom: 7px;
  }

  .fuji-descr {
    width: 50%;
    margin-bottom: 47px;
  }

  .mind p {
    width: 70%;
    margin-bottom: 96px;
  }

  .project-last__descr {
    margin-bottom: 21px;
    margin-top: 16px;
  }

  .contact {
    grid-template-columns: 1fr;
    row-gap: 29px;
  }

  .contact-address {
    margin-top: 304px;
    height: 160px;
    padding: 23px 31px;
  }

  .contact-address__descr{
    display: block;
    max-width: 436px;
  }
  .phone-wrap{
    margin: 0;
    margin-top: 3px;
    display: flex;
  }

  .contact-application {
    max-width: 466px;

    &__txtarea {
      margin-bottom: 13px;
    }
  }

  footer {
    margin-top: 0;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  
  .footer__img {
    margin-top: 6px;
    width: 165px;
  }

  .footer__descr {
    width: 245px;
    margin-top: -2px;
  }

  .footer-social__link {
    margin-left: 0px;
  }

  .footer__center {
    display: none;
  }
}


@media(max-width:782px) {

  .ret,
  .port {
    grid-row: 2/3;
    grid-column: auto;
  }

  .project-up {
    grid-row: 1;
  }
}



@media(max-width:635px) {
  .logo img{
    max-width: 112px;
  }

  .burger {
    display: inline-flex;
    position: absolute;
    width: 100%;
    margin-top: -63px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 45px;
    border: none;
    background-color: $colorGraphit;
    color: $colorLight;
    z-index: 1000;

    &__item {
      list-style: none;
      display: flex;
      flex-direction: column;
    }
  }

  .burger__line {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: $colorLight;
    transform: translateX(-50%);
  }



  .burger__line:nth-child(1) {
    top: 16px;
  }

  .burger__line:nth-child(3) {
    width: 12px;
    left: 26px;
    bottom: 12px;
  }

  .burger__line:nth-child(2) {
    top: 55%;
    transform: translateX(-50%) translateY(-50%);
  }

  .header {
    max-height: 69px;
  }

  .header-content {
    padding: 0;
    padding-bottom: 26px;
    padding-top: 14px;
  }

  .header-content__logo {
    margin-right: 0;
    margin-top: 14px;
    max-width: 150px;
  }

  .header-list {
    position: absolute;
    margin: 0;
    left: 0;
    top: 70px;
    width: 100%;
    max-width: 541px;
    height: 100vh;
    z-index: 150;
    padding: 50px;
    background-color: $colorDark;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out transform 0.3s ease-in-out;
  }

  .header-list {
    flex-direction: column;
  }

  .header-list .header-list__item:not(:last-child) {
    margin-right: 0;
    padding-bottom: 60px;
  }

  .header-list {
    padding-top: 170px;
   .header-list__item:not(:last-child){
    padding-bottom: 30px;
   }
  }

  .header-list--active {
    display: block;
    visibility: visible;
    transform: none;
    z-index: 2000;
    top: 68px;
    padding: 10px 21px 61px;
    }

  .header-list__item {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }



.header-submenu__list a{
  margin-bottom: 30px;
}


  

.header__search__img svg{
  width: 20px;
  height: 20px;
}



.search-form{
  margin-right: 0;
}


  .stop-scroll {
    overflow: hidden;
  }

  .header__nav {
    padding: 23px 0 17px;
    }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header-submenu {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr;
    row-gap: 33px;
  }

  .hero-two {
    row-gap: 60px;
  }


  .hero-one {
    width: 100%;
    padding-top: 236px;
    padding-right: 30px;
    padding-left: calc(48px + 30 * (100vw - 576px)/ 192);
  }

  h1 {
    font-size: 18px;
  }

  body>main {
    margin-top: 38px;
  }

  .about {
    grid-template-columns: 1fr;


    &__descr {
      max-width: 520px;
      font-size: 14px;
      line-height: 25px;
    }



    &__form {
      font-size: 18px;
    }
  }

  .about-right {

    &__img {
      padding-top: 287px;
      margin-bottom: 36px;
    }

    &__img::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/about320.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__input {
      width: 279px;
    }
  }

}




@media (max-width: 576px) {
  .container {
    padding-right: 21px;
    padding-left: 21px;
}

.btn{
  padding: 12px 23px;
  font-size: 14px;
}

.btn-stoke{
  padding: 8px 20px;
  font-size: 14px;
}

.search-form__input--active {
  width: 292px;
}

  .hero {

    margin-bottom: -30px;

    &__descr{
      font-size: 14px;
    }

    &__title {
      width: 68%;
      margin-bottom: 15px;
      margin-top: 0;
      font-size: 24px;
      line-height: 110%;
    }

    &__topspan {
      font-size: 12px;
      padding: 4px 4px;
      top: 6px;
      right: 10px;
    }
  }

  .hero-one {
    background-image: url("../images/hero-one320.jpg");
    padding: 230px 0 30px 30px;
  }

  .hero-two {
    column-gap: 27px;
    row-gap: 29px;

    &__img{
      max-height: 187px;
    }
  }

  .hero__section-title {
    margin-bottom: 18px;
    font-size: 18px;
  }

  .about {
    row-gap: 0px;
    padding-bottom: 59px;
    margin-bottom: -2px;
  }


  .about-section {
    margin-bottom: 52px;
  }

  .about-left__title{
    margin-bottom: 1px;
  }

  .about-left__descr{
    font-size: 14px;
line-height: 25px;
  }

  .about-right{
    margin-top: -13px;

    &__img {
      padding-top: 280px;
      margin-bottom: 25px;
    }

    &__title{
      font-size: 18px;
    }
  }
  
  .about-wrapper__input{
    padding: 13px 23px;
  }

  .about-wrapper__btn{
    width: 114px;
  }

  .projects{
    margin-bottom: 37px;
  }


  .project-card__span{
    padding: 4px 9px;
  }

  .project-card__descr{
    margin-top: 14px;
    margin-bottom: 11px;
  }

  .third-project{
    margin-top: 5px;
    .project-card__span{
      top: 3px;
      right: 5px;
      padding: 4px 11px;
    }
  }

  .project-hidden {
    min-height: 422px;
    background-image: url("../images/project4-320.jpeg");

    .project-img__span {
      top: 7px;
  }

  .project-img__leftspan {
    padding-top: 202px;
}
  }

  .project-card__item {
    max-width: 520px;
  }

  .project-up,
  .project-down {
    row-gap: 24px;
    column-gap: 0;
    grid-template-columns: 1fr;
  }

  .project-down{
    margin-top: 24px;
  }

  .fuji-title{
    margin-bottom: 11px;
  }

.project-last__picture img{
  width: 100%;
}

.project-img__leftspan p {
  font-size: 14px;
  line-height: 18px;
}

.fuji-descr{
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
line-height: 18px;
}

.project-last__picture{
  display: flex;
  height: 183px;
}

.project-last__span {
  padding: 6px 10px;
  font-size: 12px;
}

.project-last__descr{
  margin-top: 17px;
  margin-bottom: 12px;
}

  

  .port {
    margin-top: 7px;
    grid-row: 3;
   
  }

  .ret {
    grid-row: 2;
  }

  .mind{
    margin-top: 2px;
    min-height: 421px;

    .project-img__leftspan{
      padding-top: 201px;
    }

    h1{
      padding-bottom: 12px;
    }

    p{
      margin-bottom: 25px;
    }
  }

  .first-project {
    grid-row: 1;
  }

  .second-project {
    grid-row: 2;
  }

  .third-project{
    grid-row: 3;
  }

#map{
  position: relative;
  width: 100%;

}


.contact{
  margin-bottom: -16px;
  grid-template-columns: 1fr;
    row-gap: 33px;
    column-gap: 0;
    &__left{
      grid-row: 1;
    }

  
}

.contact-address{
  width: 100%;
  left: 0;
  margin-top: 308px;
  padding: 27px 17px;
  &__title{
    margin-bottom: 10px;
    font-size: 18px;
  }

  &__descr{
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
  line-height: 18px;
  }
}

.contact-application{
 
    grid-row: span 2;
 

  &__title{
    margin-bottom: 10px;
    font-size: 18px;
  }

  &__descr{
    font-size: 14px;
line-height: 18px;
  }

  &__input,
  &__txtarea{
    padding: 10px 23px;
  }

  &__txtarea::placeholder,
  &__input::placeholder{
    font-size: 14px;
  }


}


footer{
  background-color: $colorGraphit;
  display: flex;
  flex-direction: column-reverse;
  color: $colorLight;
}

  .footer {
    height: 60px;
    flex-direction: column-reverse;
    align-items: center;
    justify-items: center;

    &__right {
      display: none;
    }
    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $colorGraphit;
    }

    

    &__img{
      margin-bottom: 0;
      margin-top: -50px;
      max-width: 112px;
    }

    &__descr{
      width: 100%;
      font-size: 10px;
    }
  }

  .footer-hidden{
    padding: 30px 79px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: $colorDark;
  }


  .footer-social{
    margin-left: 0;
  }
}

@media(max-width:320px){
  .contact__left{
    width: 115%;
    margin-left: -20px;
  }

  .ymaps-2-1-79-map,
  .ymaps-2-1-79-map ymaps{
    width: 320px;
  }
}


